AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Attach
ColumnLimit: 180
ConstructorInitializerIndentWidth: 2
IndentWidth: 2
InsertBraces: false
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
UseTab: Never
TabWidth: 2
LineEnding: DeriveLF